@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	padding: 50px;
	margin: 0 auto;
	font-family: 'Inter', sans-serif;
}

.signUpForm {
	height: 530px;
}

.formGroup {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 80%;
}
.formField {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
.formField::placeholder {
	color: transparent;
}
.formField:placeholder-shown ~ .formLabel {
	font-size: 1rem;
	cursor: text;
	top: 20px;
}
.formLabel {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
}
.formField:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #242951, #c8f2fe);
	border-image-slice: 1;
}
.formField:focus ~ .formLabel {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #242951;
	font-weight: 700;
}
/* reset input */
.formField:required,
.formField:invalid {
	box-shadow: none;
}

.attendanceHeader {
	color: #fff;
	background: #1678cb;
	border-radius: 5px;
	font-weight: bold;
}
.button {
	padding: 10px;
	background: #1678cb;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	color: #fff;
	font-weight: bold;
	border: none;
}
.button:hover {
	background: #fff;
	color: #1678cb;
	border: #1678cb solid 1px;
}
